.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  padding: 2em;
  background-color: blue;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 2em;
}

.month-container {
  padding: 1em;
}

.month-container h2 {
  text-align: center;
}

.month-grid-container {
  display: flex;
  justify-content: center;
}

.month-cell {
  min-height: 120px;
  min-width: 160px;
  box-sizing: border-box;
  border: solid 1px black;
}

.event {
  border: solid 1px black;
}
